VITE_SUPABASE_URL=https://mjznwfstkmkzbpxswndv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qem53ZnN0a21remJweHN3bmR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDExNDksImV4cCI6MjA5MTMxNzE0OX0.acRI5qVCyqE6RqhX7WgTnTsRxvyfzVKX0cZF-LOxR1U
